.sources {
  :global {
    .ag-drag-handle {
      margin-right: 0;

      &.ag-invisible {
        display: none !important;
      }
    }

    .ag-cell.ag-column-first {
      padding-left: 3px;
    }
  }
}
